<mat-toolbar>
        <div class="logo">
            <a class="no-hover"><mat-icon color="primary">checklist_rtl</mat-icon>DailyTasks</a>
        </div>

        <div class="links">
            <a href="#"><mat-icon>article</mat-icon> list</a>

            <a href="#"><mat-icon>logout</mat-icon>Logout</a>
            <a routerLink="login" routerLinkActive="active"><mat-icon>login</mat-icon>Login</a>
            <a routerLink="register" routerLinkActive="active"><mat-icon>person_add</mat-icon>Register</a>
        </div>
</mat-toolbar>
<!-- TODO SIDENAV, @MEDIA-->