<mat-toolbar>
        <div class="logo">
            <a class="no-hover"><mat-icon color="primary">checklist_rtl</mat-icon>DailyTasks</a>
        </div>

        <div class="links">
            <a routerLink="protected/calander" routerLinkActive="active" *ngIf="authService.isLoggedIn() !== null"><mat-icon>article</mat-icon> Calander</a>
            <a (click)="logout()" *ngIf="authService.isLoggedIn() !== null"><mat-icon>logout</mat-icon>Logout</a>

            <a routerLink="login" routerLinkActive="active" *ngIf="authService.isLoggedIn() === null"><mat-icon>login</mat-icon>Login</a>
            <a routerLink="register" routerLinkActive="active" *ngIf="authService.isLoggedIn() === null"><mat-icon>person_add</mat-icon>Register</a>
        </div>
</mat-toolbar>
<!-- TODO SIDENAV, @MEDIA-->