:host{
    flex:1;
    display: flex;
    width:100%;  
}
/*SHOUDL BE GOOD*/
.item-month {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*overflow: auto;*/

    background-color: lightblue;
    border: 1px solid blue;
    margin: 2%;
}
/*SHOUDL BE GOOD*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.grid-days {
    flex:1;
    font-size: 1.5em;
    width: 80%;
    padding: 1em;
    /*overflow: auto;*/

    display: grid;
    grid-template-columns: auto repeat(7, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 0.2em;
}
.grid-item-day {
    position: relative;
    padding: 1px;
    background-color: white;
    border: 1px solid blue;
    overflow:hidden;
}
.grid-item-day:hover:not(.viewWeek,.dayName) {
    background-color: darkcyan;
}
.viewWeek{
    background-color: darkcyan;
    display: flex;
    align-items: center;
}
.viewWeek:hover{
    background-color: darkgreen;
}
.dayName {
    background-color: darkcyan;
    height: fit-content;
}
.num{
    position:absolute;
    top: 0;
    right: 0;
}
.notInThisMonth{
    background-color: lightcyan;
}
