<div class="item-month">
    <div class="header">
        <button mat-icon-button (click)="emitState.emit(states.YEAR);"><mat-icon>fullscreen_exit</mat-icon></button>
        <h1>{{month.name}} {{month.year}}</h1>
        <div>
            <button mat-icon-button (click)="emitPrevMonth.emit()"><mat-icon>chevron_left</mat-icon></button>
            <button mat-icon-button (click)="emitNextMonth.emit()"><mat-icon>chevron_right</mat-icon></button>
        </div>
    </div>
    <div class="grid-days">
        <div class="EMPTY"></div>
        <div class="grid-item-day dayName" *ngFor="let n of arrayOfLength(7);index as i">
            {{days[i].substring(0,3)}}
        </div>
        <ng-container *ngFor="let week of month.weeks">
            <div class="viewWeek" (click)="emitWeek.emit(week)"><button mat-icon-button><mat-icon>visibility</mat-icon></button></div>
            <div *ngFor="let day of week.days" [ngClass]="{'today':(today === (month.name + day.dayInMonth)) }"
                [ngClass]="{'notInThisMonth':day.notInThisMonth}" class="grid-item-day">
                <p class="num">{{day.dayInMonth}}</p>
                {{day.getDate()}}
            </div>
        </ng-container>
    </div>
</div>