.grid-days {
    font-size: 1.5em;
    padding: 1em;

    display: grid;
    grid-template-columns:/*auto*/ repeat(7, 12vw);
    grid-template-rows: auto repeat(6, 12vh);
}
.viewWeek{
    background-color: darkcyan;
    border: 1px solid blue;
    display: flex;
    align-items: center;
}
.viewWeek:hover{
    background-color: darkgreen;
}
.grid-item-day:not(.dayName){
    position: relative;
    text-align: left;
    overflow: auto;
    line-height: 0.5;
    padding: 0.5em;
}
.num{
    position:absolute;
    bottom: 0;
    right: 0;
    line-height: 0;
}
