<mat-card>
    <mat-card-header class="center">
        <mat-card-title>LOGIN FORM</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="" [formGroup]="loginForm">
            <mat-error class="center">{{serverError}}</mat-error>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="John.Doe@gmail.com" required>
                <mat-error>{{getControlError("email")}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hiden ? 'password' : 'text'" placeholder="password"
                    required>
                <button mat-icon-button matSuffix (click)="hiden = !hiden">
                    <mat-icon>{{hiden ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
                <mat-error>{{getControlError("password")}}</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-footer class="center">
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="sumbitForm()">Login</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>