.scope-buttons {
    position: relative;
    top: 0;
    margin: 1em;
}

.scope-buttons button {
    margin: 0.5em;
}

.flex-months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-days {
    font-size: 1.5em;
    padding: 0.5em;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2em;
}
/* APPLIES TO CHILD COMPONENTS TOO! */
:host::ng-deep.header {
    display: flex;
    justify-content:space-around;
    align-items: baseline;
    width: 100%;
}

:host::ng-deep.item-month {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightblue;
    border: 1px solid blue;
    margin: 1em;
}

:host::ng-deep.grid-item-day {
    background-color: white;
    border: 1px solid blue;
}

:host::ng-deep.grid-item-day:hover:not(.viewWeek, .dayName) {
    background-color: darkcyan;
}

:host::ng-deep.dayName {
    background-color: darkcyan;
}

:host::ng-deep.notInThisMonth {
    background-color: lightcyan;
}

:host::ng-deep.today {
    background-color: cyan;
}

:host::ng-deep.hour {
    background-color: white;
    border: 1px solid blue;
}

:host::ng-deep.today .hour {
    background-color: cyan;
}