:host {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-months {
    padding: 0.5em;
    margin: 1em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}
.item-month {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightblue;
    border: 1px solid blue;
}
.grid-days {
    font-size: 1.5em;
    padding: 0.5em;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.2em;
}
.grid-item-day {
    position: relative;
    padding: 1px;
    background-color: cyan;
    border: 1px solid blue;
}
.grid-item-day:hover:not(.dayName) {
    background-color: darkcyan;
}
.dayName {
    background-color: darkcyan;
    height: fit-content;
}
.notInThisMonth {
    background-color: lightcyan;
}
.today {
    background-color: blue;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
}