<div class="flex-months" *ngIf="state === states.YEAR">
    <div class="header">
        <h1>Year {{calander.year.yearNumber}}</h1>
        <div>
            <button mat-icon-button (click)="prevYear()"><mat-icon>chevron_left</mat-icon></button>
            <button mat-icon-button (click)="nextYear()"><mat-icon>chevron_right</mat-icon></button>
        </div>
    </div>
    <div class="item-month" *ngFor="let month of calander.year.months">
        <div class="header">
            <h1>{{month.name}}</h1>
            <button mat-icon-button (click)="getMonth(month.name)"><mat-icon>open_in_full</mat-icon></button>
        </div>
        <div class="grid-days">
            <div class="grid-item-day dayName" *ngFor="let n of arrayOfLength(7);index as i">
                {{Days[i].substring(0,3)}}
            </div>
            <div class="grid-item-day blank" *ngFor="let n of arrayOfLength(month.blanksStart)">
                {{' '}}
            </div>

            <div *ngFor="let day of month.days;index as i" [ngClass]="{'today':(getToday() === (month.name + (i+1)))}"
                class="grid-item-day">
                {{i+1}}
            </div>
            <div class="grid-item-day blank" *ngFor="let n of arrayOfLength(month.blanksEnd)">
                {{' '}}
            </div>
        </div>
    </div>
</div>
<!-- put in seperate month component for more readable code <month-component *ngIf="state === states.MONTH" [month]={{month}}></month-component>-->
<div *ngIf="state === states.MONTH">
    <div class="item-month-fullscreen">
        <div class="header">
            <button mat-icon-button (click)="changeState(states.YEAR);"><mat-icon>close_fullscreen</mat-icon></button>
            <h1>{{month.name}} {{month.year}}</h1>
            <div>
                <button mat-icon-button (click)="prevMonth()"><mat-icon>chevron_left</mat-icon></button>
                <button mat-icon-button (click)="nextMonth()"><mat-icon>chevron_right</mat-icon></button>
            </div>
        </div>
        <div class="grid-days-in-month">
            <div class="grid-item-day dayName" *ngFor="let n of arrayOfLength(7);index as i">
                {{Days[i].substring(0,3)}}
            </div>
            <div class="grid-item-day blank-month" *ngFor="let n of arrayOfLength(month.blanksStart)">
                {{' '}}
            </div>

            <div *ngFor="let day of month.days;index as i" 
            [ngClass]="{'today':(getToday() === (month.name + (i+1))) }" 
            class="grid-item-day day">
                <p class="num">{{i+1}}</p>
                {{day.getDate()}}
            </div>
            <div class="grid-item-day blank-month" *ngFor="let n of arrayOfLength(month.blanksEnd)">
                {{' '}}
            </div>
        </div>
    </div>
</div>