<div class="header">
    <button mat-icon-button (click)="stateChanged.emit(states.WEEK);"><mat-icon>fullscreen_exit</mat-icon></button>
    <h1>{{calander.currentDay.getDate()}}<span *ngIf="calander.getToday() == calander.currentDay.getDate()">
            Today</span></h1>
    <div>
        <button mat-icon-button (click)="calander.prevDay()"><mat-icon>chevron_left</mat-icon></button>
        <button mat-icon-button (click)="calander.nextDay()"><mat-icon>chevron_right</mat-icon></button>
    </div>
</div>
<div class="flex-day">
    <div class="day">
        <div class="hour-num">
            <div class="EMPTY">
            </div>
            <div *ngFor="let n of arrayOfLength(16);index as i" class="hour">
                {{i+8+'.00'}}
            </div>
        </div>
        <div class="hour-content">
            <div class="dayName">
                <p>{{calander.currentDay.getDate()}}</p>
            </div>
            <div *ngFor="let n of arrayOfLength(16);index as i" class="hour">

            </div>
        </div>
    </div>
    <div class="tasks">
        <div class="dayName">
            <p>TASK LIST</p>
        </div>
        <!--<app-task *ngFor="let n of tasks" [task]="n"></app-task>-->
    </div>
</div>