.flex-day {
    display: flex;
    width: 80vw;
}

.day {
    flex: 1;
    display: flex;
    margin: 1em;
}

.hour-num {
    display: grid;
    grid-template-rows: repeat(17, 4vh);
}

.hour-content {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(17, 4vh);
}

.dayName {
    border-bottom: 1px solid blue;
}

.tasks {
    height: 68vh;
    margin: 1em;
    border: 1px solid blue;
    flex: 1;
    overflow: auto;
}