<div class="header">
    <button mat-icon-button (click)="stateChanged.emit(states.MONTH);"><mat-icon>fullscreen_exit</mat-icon></button>
    <h1>Week {{calander.currentWeek.fromTo()}}</h1>
    <div>
        <button mat-icon-button (click)="calander.prevWeek()"><mat-icon>chevron_left</mat-icon></button>
        <button mat-icon-button (click)="calander.nextWeek()"><mat-icon>chevron_right</mat-icon></button>
    </div>
</div>
<div class="grid-week">
    <ng-container *ngFor="let day of calander.currentWeek.days">
        <div class="grid-item-day" [ngClass]="{'today':calander.getToday() == day.getDate()}">
            <div class="dayName" (click)="calander.currentDay = day;stateChanged.emit(states.DAY);">
                <p>{{day.getDate()}}</p>
            </div>
            <div *ngFor="let n of arrayOfLength(16);index as i" class="hour">

            </div>
        </div>
    </ng-container>
</div>