.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card{
    border-radius: 1vw;
    margin: 1rem;
    min-width: 30vw;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
mat-card-header, mat-card-footer{
    background-color: lightgray;
    padding: 1rem;
}
mat-card-header{
    margin-bottom: 1rem;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}
mat-card-footer{
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
mat-form-field{
    width: 100%;
}
mat-error{
    white-space:nowrap;
    overflow:hidden;
}

